@model AnimalTypeModel
@{
    ViewData["Title"] = "SaveAnimalType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header">
        Crear nuevo tipo de animal
    </div>
    <div class="card-body">
        <form asp-action="SaveAnimalType" asp-controller="AnimalType" method="post">

            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input asp-for="TipNombre" type="text" class="form-control">
                <span asp-validation-for="TipNombre" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Descripción</label>
                <input asp-for="TipDescripcion" type="text" class="form-control">
                <span asp-validation-for="TipDescripcion" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Guardar tipo de animal</button>
            <a asp-action="ShowAnimalsTypes" asp-controller="AnimalType" class="btn btn-warning">Ver tipos de animales</a>
        </form>
    </div>
</div>