@model AnimalModel
@{
    ViewData["Title"] = "DeleteAnimal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Eliminar tipo de animal
    </div>
    <div class="card-body">
        <form asp-action="DeleteAnimal" asp-controller="Animal" method="post">
            <input asp-for="AniId" type="hidden" class="form-control">

            <div class="alert alert-danger" role="alert">
                ¿Desea eliminar esta mascota: @Html.DisplayTextFor(m => m.AniNombre)?
            </div>

            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="ShowAnimals" asp-controller="Animal" class="btn btn-warning">Volver a la lista</a>
        </form>
    </div>
</div>