@model AnimalModel

@{
    ViewData["Title"] = "SaveAnimal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Crear Mascota
    </div>
    <div class="card-body">
        <form asp-action="SaveAnimal" asp-controller="Animal" method="post">

            <div class="mb-3">
                <label class="form-label">Nombre de mascota</label>
                <input asp-for="AniNombre" type="text" class="form-control">
                <span asp-validation-for="AniNombre" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Propietario</label>
                <select asp-for="ProIdFk" name="ProIdFk" class="form-control">
                    <option value="">Selecciona un propietario</option>
                    @foreach (var owner in Model.Owners)
                    {
                        <option value="@owner.Value">@owner.Text</option>
                    }
                </select>
                <span asp-validation-for="ProIdFk" class="text-danger"></span>
            </div><br />

            <div class="form-group">
                <label>Tipo de Animal</label>
                <select asp-for="TipIdFk" name="TipIdFk" class="form-control">
                    <option value="">Selecciona un tipo de animal</option>
                    @foreach (var type in Model.AnimalTypes)
                    {
                        <option value="@type.Value">@type.Text</option>
                    }
                </select>
                <span asp-validation-for="TipIdFk" class="text-danger"></span>
            </div><br />

            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-action="ShowAnimals" asp-controller="Animal" class="btn btn-warning">Ver lista de mascotas</a>
        </form>
    </div>
</div> 